@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
				background: white;
				font-family: Poppins;
}


.g1{
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				position: relative;
}

.images1 img{
				width: 150px;
}

.images1{
				position: absolute;
				top: 0;
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap:2em;
				margin-left: 1em;
				margin-right: 1em;
}

.group1{
				display: grid;
				grid-template-columns: 1fr 1fr 1fr ;
				gap:2em;
				margin-left: 1em;
				margin-right: 1em;
				z-index: 55;
			margin-top: 2em;
			opacity:;
}

.group1 button{
				padding-left: 30px;
				padding-right: 30px;
				padding-top: 5px ;
				padding-bottom:5px ;
				font-weight: bold;
				font-family: Poppins;
	    z-index: 4444;
	    border: 2px solid red;
}
.group1 button:hover{
				background: white;
				border: 2px solid black;
}

.ask{
				
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				border-radius: 5px;
			z-index: 5555555;
				padding-top: 1em;
				padding-bottom: 1em;
				text-align: center;
				margin-top: em;
			position: relative;											
										
}

.btn{
				display: flex;
				justify-content:center;
				align-items: center;
				gap: 2em;				
}

#btn1{
				padding-left: 30px;
				padding-right: 30px;
				padding-top: 5px ;
				padding-bottom:5px ;
				font-weight: bold;
				font-family: Poppins;
				border: 2px solid black;
}
#btn1:hover{
				background: white;
				border: 2px solid black;
}
#btn2:hover{
				background: white;
				border: 2px solid black;
}
#btn2{
				padding-left: 30px;
				padding-right: 30px;
				padding-top: 5px ;
				padding-bottom:5px ;
				font-weight: bold;
				font-family: Poppins;
				border: 2px solid red;
				
	
}

.crush{
				font-size: 25px;
				margin-bottom: 2em;
				font-weight: bold;
				color: red;
}
#hands{
				width: 50px;
				position: absolute;
				top: 12em;
				left: 4em;
				animation: bounce2 2s ease infinite;
				opacity: 0;
}
#sadman{
				transform: translateY(-2em);		
				opacity: 0;
}
#hang{
		transform: translateY(-4em);		
		opacity: 0;
}
#frog{
				transform: translateY(-4em);	
				opacity: 0;	
}

#hahahuhu{
				opacity: 0;
}

#sadcat{
				opacity: 0;
}
#sadboi{
				opacity: 0;
}

#crying{
				opacity: 0;
}
#sadsad{
				opacity: 0;
}


@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-20px);}
	60% {transform: translateY(-15px);}
}

/*BUTTONS OPACITY*/

#btt1{
				opacity: 0;
}
#btt2{
				opacity: 0;
}
#btt3{
				opacity: 0;
}
#btt4{
				opacity: 0;
}
#btt5{
				opacity: 0;
}
#btt6{
				opacity: 0;
}
#btt7{
				opacity: 0;
}
#btt8{
				opacity: 0;
}
#btt9{
				opacity: 0;
}
#btt10{
				opacity: 0;
}
#btt11{
				opacity: 0;
}
#btt12{
				opacity: 0;
}

       /*BUTTONS2 OPACITY*/
#bbtt1{
				opacity: 0;
}
#bbtt2{
				opacity: 0;
}
#bbtt3{
				opacity: 0;
}
#bbtt4{
				opacity: 0;
}
#bbtt5{
				opacity: 0;
}
#bbtt6{
				opacity: 0;
}
#bbtt7{
				opacity: 0;
}
#bbtt8{
				opacity: 0;
}
#bbtt9{
				opacity: 0;
}
#bbtt10{
				opacity: 0;
}
#bbtt11{
				opacity: 0;
}
#bbtt12{
				opacity: 0;
}

.fff{
display: flex;
				justify-content: center;
				align-items: center;
}




/* //  HEART CODE */
.altheart {
    background: url(113439_img25_twotoneheart.png) no-repeat center;
    width: 24px;
    height: 21px;
    position: relative;
    display: block;
}
.heart {
    position: relative;
}
.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 18px;
    top: 0;
    width: 18px;
    height: 30px;
    background: #CC2022;
    -moz-border-radius: 20px 50% 0 0;
    border-radius: 30px 30px 0 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
.heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .wrapper{
        height: 100vh;
        background-color: rgb(213, 53, 53);
        text-align: center;
        margin: 0 auto;
        overflow: hidden;
        user-select: none;
    }
    .button,.text,.circ,small{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    .button{
        background-color:#cbb2ff;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        padding: 22px;
        transition: 1200ms ease-out;
        width: 200px;
        height: 100px;
        border-radius: 12px;
    }
    .circ{
        width: 0px;
        height: 0px;
        border-radius: 1000px;
        background-color: aqua;
        transition: 1200ms;
    }
    .inc{
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    #bg1 {
        background-color: #ff009e;
    }
    #bg2{
        background-color: 	#ff819f;
    }
    #bg3{
        background-color: #fea0ff;
    }
    #bg4{
        background-color: #ffb2d7;
    }
    .hide{
        font-size: 0px;
        opacity: 0%;
    }
    .text{
        width: 500px;
        transition: 1200ms;
        font-size: 24px;
        font-family: 'Dangrek';
        color:rgb(42, 42, 42);
    }
    .nocolor{
        background-color: #4a347800;
    }
    .container{
        z-index: 100;
    }
	small{
		font-size: 12px;
		font-family: cursive;
		color: rgb(255, 255, 255);
		animation: blink 1s linear infinite;
        margin-top: 64px;
        text-shadow: 0px 0px 3px black;
        font-family: 'Courgette';
	}
@keyframes blink{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}
